{% extends 'base.html.twig' %}

 {% block body %}
     <section class="header">
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                     <div class="intro-text">
                         <div class="overlay">
                             <h1>Bienvenue sur mon Portfolio!</h1>
                             <h2>Developpement web | Graphisme | Code</h2>
                             <h3>Vous êtes au bon endroit</h3>
                             <a href="#about" class="js-scroll-trigger"><button type="button" class="btn btn-warning">En savoir plus !</button></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>

     <!-- End Header Hero -->

     <section id="about">
         <div class="about">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 text-center m-auto">
                         <h3>A propos de moi</h3>
                         <p>My name is Damien, mesmerized by a computer screen from as long as i can remember. Playing around with gadgets, games,
                             got in to music production, recently fell in love with code. Also have a YouTube Channel.<br/>
                             I am <b>A HUGE NERD</b> is basically what i am saying here. </p>
                     </div>
                 </div>
             </div>
         </div>

         <div class="skills">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6">
                         <div class="skills-bars">
                             <h3>Compétences progessionnelles</h3>

                             <h5 class="mt-4 mb-2">Web development &nbsp; &nbsp;75%</h5>
                             <div class="progress mb-4">
                                 <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>

                             <h5 class="mt-4 mb-2">Music Production &nbsp; &nbsp;85%</h5>
                             <div class="progress mb-4">
                                 <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>

                             <h5 class="mt-4 mb-2">Motion Graphics &nbsp; &nbsp;80%</h5>
                             <div class="progress mb-4">
                                 <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>

                         </div>
                     </div>
                 </div>
             </div>
         </div>

         <div class="social">
             <div class="container">
                 <div class="row text-center social-icons">

                     <div class="col-3">
                         <a href="https://github.com/DSARRAZY" target="_blank"><i class="fab fa-github"></i></a>
                     </div>

                     <div class="col-3">
                         <a href="https://www.facebook.com/damien.sarrazy" target="_blank"><i class="fab fa-facebook"></i></a>
                     </div>

                     <div class="col-3">
                         <a href="https://twitter.com/DamienSARRAZY" target="_blank"><i class="fab fa-twitter"></i></a>
                     </div>

                     <div class="col-3">
                         <a href="https://www.linkedin.com/in/damien-sarrazy-7b18bb169/" target="_blank"><i class="fab fa-linkedin"></i></a>
                     </div>

                 </div>
             </div>
         </div>
     </section>


     <section id="contact">
         <div class="contact">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 text-center m-auto">
                         <h3>Need a Project?</h3>
                         <p>Let me know what you are looking for. I will take a look and see if this could be the start of something beautiful.</p>
                     </div>
                 </div>
                 <hr>

                 <form action="" class="text-center">
                     <div class="form-row">
                         <div class="form-group col-md-6">
                             <input type="text" class="form-control form-control-lg" placeholder="Name" required>
                         </div>
                         <div class="form-group col-md-6 ">
                             <input type="email" class="form-control form-control-lg" placeholder="Email" required>
                         </div>
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control form-control-lg" placeholder="Subject" required >
                     </div>
                     <div class="form-group">
                         <textarea class="form-control form-control-lg" placeholder="Message" rows="6" required></textarea>
                     </div>
                     <button type="submit" class="btn btn-warning form-button">Submit</button>
                 </form>

             </div>
         </div>
     </section>
 {% endblock %}
