{% extends 'base.html.twig' %}

 {% block body %}
     <section class="header">
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                     <div class="intro-text">
                         <div class="overlay">
                             <h1>Bienvenue sur mon Portfolio!</h1>
                             <h2>Developpement web | Graphisme | Code</h2>
                             <h3>Vous êtes au bon endroit</h3>
                             <a href="#about" class="js-scroll-trigger"><button type="button" class="btn btn-warning">En savoir plus !</button></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>

     <!-- End Header Hero -->

     <section id="about">
         <div class="about">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 text-center m-auto">
                         <h3>A propos de moi</h3>
                         <p>My name is Damien, mesmerized by a computer screen from as long as i can remember. Playing around with gadgets, games,
                             got in to music production, recently fell in love with code. Also have a YouTube Channel.<br/>
                             I am <b>A HUGE NERD</b> is basically what i am saying here. </p>
                     </div>
                 </div>
             </div>
         </div>

         <div class="skills">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6">
                         <div class="skills-bars">
                             <h3>Compétences progessionnelles</h3>

                             <h5 class="mt-4 mb-2">Web development &nbsp; &nbsp;75%</h5>
                             <div class="progress mb-4">
                                 <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>

                             <h5 class="mt-4 mb-2">Music Production &nbsp; &nbsp;85%</h5>
                             <div class="progress mb-4">
                                 <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>

                             <h5 class="mt-4 mb-2">Motion Graphics &nbsp; &nbsp;80%</h5>
                             <div class="progress mb-4">
                                 <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>

                         </div>
                     </div>
                 </div>
             </div>
         </div>

         <div class="social">
             <div class="container">
                 <div class="row text-center social-icons">

                     <div class="col-3">
                         <a href="https://github.com/DSARRAZY" target="_blank"><i class="fab fa-github"></i></a>
                     </div>

                     <div class="col-3">
                         <a href="https://www.facebook.com/damien.sarrazy" target="_blank"><i class="fab fa-facebook"></i></a>
                     </div>

                     <div class="col-3">
                         <a href="https://twitter.com/DamienSARRAZY" target="_blank"><i class="fab fa-twitter"></i></a>
                     </div>

                     <div class="col-3">
                         <a href="https://www.linkedin.com/in/damien-sarrazy-7b18bb169/" target="_blank"><i class="fab fa-linkedin"></i></a>
                     </div>

                 </div>
             </div>
         </div>
     </section>

     <section id="portfolio">
         <div class="portfolio">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 text-center m-auto">
                         <h3>PORTFOLIO</h3>
                         <p>Some of my recent projects are listed below. For music projects visit my <a href="http://youtube.com/farhankk360" target="_blank">Youtube Channel</a>
                             .Also Follow me on my social media, to stay up to date.</p>
                     </div>
                 </div>
                 <hr>
                 <div class="row">

                     <div class="col-md-4 col-sm-6 portfolio-item">
                         <div class="card-shadow">
                             <a href="http://unitedgadgetstore.co.uk/" target="_blank">
                                 <img class="img-fluid" src="https://www.dropbox.com/s/myck2bpqut3vzqc/unitedgadgetstore-web.jpg?raw=1" alt="United Gadget Store - Web">
                                 <div class="portfolio-caption">
                                     <h4>United Gadget Store</h4>
                                     <p>E-Commerce Tech Store </p>
                                 </div>
                             </a>
                         </div>
                     </div>

                     <div class="col-md-4 col-sm-6 portfolio-item">
                         <div class="card-shadow">
                             <a>
                                 <img class="img-fluid" src="https://www.dropbox.com/s/0slveikavponrtu/unitedgadgetstore-app.jpg?raw=1" alt="United Gadget Store - App">
                                 <div class="portfolio-caption">
                                     <h4>United Gadget Store</h4>
                                     <p><a href="https://itunes.apple.com/gb/app/united-gadget-store/id1358587618?mt=8" target="_blank" class="text-primary">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.farhan.unitedgadgetstore" target="_blank" class="text-primary">Android</a> app using Ionic 3 framework</p>
                                 </div>
                             </a>
                         </div>
                     </div>

                     <div class="col-md-4 col-sm-6 portfolio-item">
                         <div class="card-shadow">
                             <a href="http://zamzamshawarma.com/" target="_blank">
                                 <img class="img-fluid" src="https://www.dropbox.com/s/z5x3a2609wtqayx/zamzamshawarma-web.jpg?raw=1" alt="Zam Zam Shawarma Cuisine">
                                 <div class="portfolio-caption">
                                     <h4>Zam Zam Shawarma Cuisine</h4>
                                     <p>Arabic food with online food ordering menu</p>
                                 </div>
                             </a>
                         </div>
                     </div>

                     <div class="col-md-4 col-sm-6 portfolio-item">
                         <div class="card-shadow">
                             <a href="http://ultimatedealpizza.com/" target="_blank">
                                 <img class="img-fluid" src="https://www.dropbox.com/s/nwyx9i2o6y3e0cn/ultimatedealpizza-web.jpg?raw=1" alt="Ultimate Deal Pizza">
                                 <div class="portfolio-caption">
                                     <h4>Ultimate Deal Pizza</h4>
                                     <p >Pizza website, with online menu</p>
                                 </div>
                             </a>
                         </div>
                     </div>

                     <div class="col-md-4 col-sm-6 portfolio-item">
                         <div class="card-shadow">
                             <a href="http://aghajanandcompany.com/" target="_blank">
                                 <img class="img-fluid" src="https://www.dropbox.com/s/j0wbaoy37aw3i2w/aghajanandcompany.jpg?raw=1" alt="Agha Jan & Company">
                                 <div class="portfolio-caption">
                                     <h4>Agha Jan & Company</h4>
                                     <p>Travel agency</p>
                                 </div>
                             </a>
                         </div>
                     </div>

                     <div class="col-md-4 col-sm-6 portfolio-item">
                         <div class="card-shadow">
                             <a href="https://www.facebook.com/MrKhanProductions/videos/2241046861331/" target="_blank">
                                 <img class="img-fluid" src="https://www.dropbox.com/s/zeuv1k0atj7smvq/theend-instrumental-ufc.jpg?raw=1" alt="The End - Epic Instrumental">
                                 <div class="portfolio-caption">
                                     <h4>The End Epic Instrumental</h4>
                                     <p>Music Featured in UFC</p>
                                 </div>
                             </a>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
     </section>

     <section id="contact">
         <div class="contact">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 text-center m-auto">
                         <h3>Besoin d'un projet ?</h3>
                         <p>Dites-moi ce que vous recherchez et nous prendrons le temps ensemble d'étudier votre besoin.</p>
                     </div>
                 </div>
                 <hr>

                 <form action="" class="text-center">
                     <div class="form-row">
                         <div class="form-group col-md-6">
                             <input type="text" class="form-control form-control-lg" placeholder="Nom" required>
                         </div>
                         <div class="form-group col-md-6 ">
                             <input type="email" class="form-control form-control-lg" placeholder="Email" required>
                         </div>
                     </div>
                     <div class="form-group">
                         <input type="text" class="form-control form-control-lg" placeholder="Sujet" required >
                     </div>
                     <div class="form-group">
                         <textarea class="form-control form-control-lg" placeholder="Message" rows="6" required></textarea>
                     </div>
                     <button type="submit" class="btn btn-warning form-button">Envoyer</button>
                 </form>

             </div>
         </div>
     </section>
 {% endblock %}
