<header>
    <nav id="mainNav" class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a href="#page-top" class="navbar-brand js-scroll-trigger">
                <img class="logo-size" src="https://www.dropbox.com/s/filckfmhjg53dot/logo.png?raw=1" alt="Developpeur Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">A PROPOS</a></li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
